


.cardTitleClass{
    margin: 0 auto;
    text-align: center;
    color: rgb(13, 110, 0) !important;
}

.cardTextClass{
    margin-top: 15px;
}
.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}
  
.cardington {
    height: 580px;
    margin: 22px;
}

.cardButtonClass {
    margin-top: auto;
}


.cardBodyClass {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}

.shopimg{
    height: auto;
    max-height: 300px;
    min-height: 300px;
    object-fit: cover;
    width: 100%;
    border: 2px solid rgb(152, 255, 152);
}

.cardImgContainer{
    padding: 6px;

}

.ProductHolder {
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    max-width: 80%
}

@import '~bootstrap/scss/bootstrap';