.DivTop{
    padding: 15px;
}

.SingleProduct{
    margin-top: 15px;
    max-width: 880px;
    margin:  0 auto;
}

.ProductTitle{
    font-size: 28px;
    color: rgb(13, 110, 0);
}

.cardImgContainer{
    padding: 6px;

}

.SalePrice{
    color: red;
    text-decoration: line-through;
}

.onSalePrice{
    color: rgb(13, 110, 0);
}

.SpanPrice{
    color: black;
    font-size: 14px;
}