.button-color {
    background-color: rgb(152, 255, 152) !important;
    color: #000 !important;
    border: none;
    border-color: rgb(34, 94, 34) !important; 
}
  
.button-color:hover {
    background-color: rgb(34, 94, 34) !important; 
    color: #fff !important;
    border-color: rgb(152, 255, 152) !important;
}

@import '~bootstrap/scss/bootstrap';